services:
  keycloak:
    image: quay.io/keycloak/keycloak:23.0.7
    command:
      - "start-dev"
      - "--http-port=8081"
      - "--hostname-strict=false"
      - "--hostname-strict-https=false"
      - "--import-realm"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8081:8081"
    volumes:
      - ./keycloak/realm-export:/opt/keycloak/data/import
    restart: unless-stopped

