*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1.4;
  font-family: system-ui, Segoe UI, Roboto, Arial, sans-serif;
}

img,
canvas,
svg,
video {
  display: block;
  max-width: 100%;
}

/* tables */
table {
  border-collapse: collapse;
}

