.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1266px) {
  .App {
    font-size: 16px;
  }
}

@media (min-width: 714px) and (max-width: 1265px) {
  .App {
    font-size: 15px;
  }
}


@media (max-width: 713px) {
  .App {
    font-size: 14px;
  }
}

